/* Fonts */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles or Utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

/* Common Styles or Utilities */

/* Top players Style */

.section-title{
    color: #562EFF;
    font-size: 24px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    display: flex;
    text-align: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}

/* Top players Style */